.st0 {
    fill: url(#SVGID_1_);
    stroke: url(#SVGID_2_);
    stroke-miterlimit: 10;
}

.st1 {
    display: none;
    opacity: 0.93;
    fill: url(#구름_15_);
}

.st2 {
    display: none;
    opacity: 0.35;
}

.st3 {
    display: inline;
    fill: #132D1E;
}

.st4 {
    fill: #F4B054;
}

.st5 {
    fill: #2B3F2D;
}

.st6 {
    fill: #F6A728;
}

.st7 {
    fill: url(#SVGID_3_);
}

.st8 {
    fill: url(#SVGID_4_);
}

.st9 {
    opacity: 0.93;
    fill: url(#구름_16_);
}

.st10 {
    opacity: 0.42;
    fill: url(#구름_17_);
}

.st11 {
    fill: #7C8570;
}

.st12 {
    fill: #383327;
}

.st13 {
    fill: url(#SVGID_5_);
}

.st14 {
    fill: #96D0D0;
}

.st15 {
    fill: url(#SVGID_6_);
}

.st16 {
    fill: url(#SVGID_7_);
}

.st17 {
    fill: url(#SVGID_8_);
}

.st18 {
    display: none;
    fill: url(#SVGID_9_);
}

.st19 {
    opacity: 0.75;
}

.st20 {
    fill: #64B380;
}

.st21 {
    opacity: 0.35;
}

.st22 {
    fill: #132D1E;
}

.st23 {
    fill: #80768D;
}

.st24 {
    fill: #232A33;
}

.st25 {
    display: none;
    fill: url(#SVGID_10_);
}

.st26 {
    opacity: 0.41;
    fill: url(#SVGID_11_);
}

.st27 {
    fill: url(#SVGID_12_);
}

.st28 {
    fill: url(#SVGID_13_);
}

.st29 {
    opacity: 0.93;
    fill: url(#구름_18_);
}

.st30 {
    opacity: 0.75;
    fill: url(#SVGID_14_);
}

.st31 {
    fill: url(#SVGID_15_);
}

.st32 {
    fill: #827386;
}

.st33 {
    fill: #322430;
}

.st34 {
    fill: #D0D23E;
}

.st35 {
    opacity: 0.53;
}

.st36 {
    fill: none;
    stroke: #BADCD8;
    stroke-miterlimit: 10;
}

.st37 {
    fill: none;
    stroke: #FFFFFF;
    stroke-miterlimit: 10;
}

.st38 {
    fill: url(#SVGID_16_);
}

.st39 {
    display: none;
    opacity: 0.93;
    fill: url(#구름_19_);
}

.st40 {
    fill: #EBECE6;
}

.st41 {
    fill: #28393D;
}

.st42 {
    fill: #B7D6D9;
}

.st43 {
    fill: url(#SVGID_17_);
}

.st44 {
    display: none;
    opacity: 0.93;
    fill: url(#구름_20_);
}

.st45 {
    opacity: 0.83;
}

.st46 {
    opacity: 0.12;
    fill: #FCF8D6;
}

.st47 {
    opacity: 0.08;
    fill: #FCF8D6;
}

.st48 {
    opacity: 0.14;
    fill: #FCF8D6;
}

.st49 {
    fill: #DCEDF4;
}

.st50 {
    fill: #5F7E83;
}

.st51 {
    fill: #D47372;
}

.st52 {
    fill: #F2B8BB;
}

.st53 {
    fill: #834C4A;
}

.st54 {
    fill: #B26663;
}

.st55 {
    opacity: 0.77;
    fill: #341514;
}

.st56 {
    opacity: 0.7;
    fill: #341514;
}

.st57 {
    fill: #282C35;
}

.st58 {
    fill: #0B0D0D;
}

.st59 {
    fill: #1D1E26;
}

.st60 {
    fill: #646C7F;
}

.st61 {
    fill: #0F1516;
}

.st62 {
    fill: #272B33;
}

.st63 {
    opacity: 0.46;
    fill: #434A56;
}

.st64 {
    fill: #FFED60;
}

.st65 {
    fill: #FFFFFF;
}

.st66 {
    fill: #A3D5DB;
}

.st67 {
    fill: #D4D3D3;
}

.st68 {
    fill: none;
    stroke: #D4D3D3;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st69 {
    opacity: 0.58;
}

.st70 {
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 0.4045;
    stroke-miterlimit: 10;
}

.st71 {
    opacity: 0.64;
}

.st72 {
    fill: none;
    stroke: #1D1E1C;
    stroke-width: 0.915;
    stroke-miterlimit: 10;
}

.st73 {
    display: none;
}

.st74 {
    display: inline;
}

.st75 {
    fill: url(#SVGID_18_);
}