.st0 {
    display: none;
    fill: url(#SVGID_1_);
}

.st1 {
    fill: url(#SVGID_2_);
}

.st2 {
    display: none;
    fill: url(#SVGID_3_);
}

.st3 {
    fill: #B0A4BA;
}

.st4 {
    fill: #84A9AF;
}

.st5 {
    fill: #E0D5D1;
}

.st6 {
    fill: #9E2C19;
}

.st7 {
    fill: #F4E4BD;
}

.st8 {
    fill: none;
    stroke: #272525;
    stroke-miterlimit: 10;
}

.st9 {
    fill: none;
    stroke: #F4E4BD;
    stroke-miterlimit: 10;
}

.st10 {
    fill: #539689;
}

.st11 {
    fill: #CCAB8C;
}

.st12 {
    fill: none;
}

.st13 {
    fill: none;
    stroke: #272525;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st14 {
    fill: none;
    stroke: url(#SVGID_4_);
    stroke-miterlimit: 10;
}

.st15 {
    fill: none;
    stroke: url(#SVGID_5_);
    stroke-miterlimit: 10;
}

.st16 {
    fill: none;
    stroke: url(#SVGID_6_);
    stroke-miterlimit: 10;
}

.st17 {
    fill: #6D3222;
}

.st18 {
    fill: #272525;
}

.st19 {
    fill: #272525;
    stroke: #272525;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st20 {
    fill: none;
    stroke: #F4E4BD;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st21 {
    fill: #B29657;
}

.st22 {
    fill: none;
    stroke: #9E2C19;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st23 {
    display: none;
    fill: none;
    stroke: #272525;
    stroke-miterlimit: 10;
}

.st24 {
    fill: #605E5E;
}

.st25 {
    fill: none;
    stroke: #C49E6C;
    stroke-miterlimit: 10;
}

.st26 {
    fill: #272525;
    stroke: #F4E4BD;
    stroke-miterlimit: 10;
}

.st27 {
    fill: none;
    stroke: #C49E6C;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st28 {
    fill: none;
    stroke: #272525;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st29 {
    fill: none;
    stroke: url(#SVGID_7_);
    stroke-miterlimit: 10;
}

.st30 {
    fill: none;
    stroke: url(#SVGID_8_);
    stroke-miterlimit: 10;
}

.st31 {
    fill: none;
    stroke: url(#SVGID_9_);
    stroke-miterlimit: 10;
}

.st32 {
    fill: none;
    stroke: #B0A4BA;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st33 {
    fill: #9E2C19;
    stroke: #A32430;
    stroke-miterlimit: 10;
}

.st34 {
    fill: none;
    stroke: #683232;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st35 {
    fill: #FFFF5A;
    stroke: #272525;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st36 {
    fill: none;
    stroke: #E8C48E;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st37 {
    fill: url(#SVGID_10_);
}

.st38 {
    fill: #FFFFFF;
}

.st39 {
    clip-path: url(#SVGID_12_);
    fill: url(#SVGID_13_);
}

.st40 {
    clip-path: url(#SVGID_12_);
    fill: #F0F3ED;
}

.st41 {
    clip-path: url(#SVGID_12_);
    fill: #29393D;
}

.st42 {
    clip-path: url(#SVGID_12_);
}

.st43 {
    fill: #BFDBDD;
}

.st44 {
    clip-path: url(#SVGID_15_);
}

.st45 {
    fill: url(#SVGID_16_);
    stroke: url(#SVGID_17_);
    stroke-width: 0.1698;
    stroke-miterlimit: 10;
}

.st46 {
    fill: #F8B450;
}

.st47 {
    fill: #2B3F2D;
}

.st48 {
    fill: #F6A729;
}

.st49 {
    fill: url(#SVGID_18_);
}

.st50 {
    fill: #E2F2F8;
}

.st51 {
    fill: #5C7E88;
}

.st52 {
    fill: #0F1516;
}

.st53 {
    fill: #1A1D23;
}

.st54 {
    fill: #5F687B;
}

.st55 {
    fill: #272B33;
}

.st56 {
    opacity: 0.46;
    fill: #424A56;
}

.st57 {
    fill: #FFED58;
}

.st58 {
    fill: #AADAE3;
}

.st59 {
    fill: #D7D8D8;
}

.st60 {
    fill: none;
    stroke: #D7D8D8;
    stroke-width: 0.5389;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st61 {
    display: none;
}

.st62 {
    display: inline;
}

.st63 {
    display: inline;
    clip-path: url(#SVGID_20_);
    fill: url(#SVGID_21_);
}

.st64 {
    display: inline;
    clip-path: url(#SVGID_20_);
    fill: #F0F3ED;
}

.st65 {
    display: inline;
    clip-path: url(#SVGID_20_);
    fill: #29393D;
}

.st66 {
    display: inline;
    clip-path: url(#SVGID_20_);
}

.st67 {
    display: inline;
    clip-path: url(#SVGID_23_);
}

.st68 {
    fill: url(#SVGID_24_);
    stroke: url(#SVGID_25_);
    stroke-width: 0.1698;
    stroke-miterlimit: 10;
}

.st69 {
    fill: url(#SVGID_26_);
}

.st70 {
    display: none;
    fill: #FFFFFF;
}

.st71 {
    fill: #A7A7A7;
}

.st72 {
    fill: #FFFFFF;
    stroke: #272525;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st73 {
    fill: #272525;
    stroke: #FFFFFF;
    stroke-miterlimit: 10;
}

.st74 {
    fill: #FFFFFF;
    stroke: #272525;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st75 {
    fill: #FFFFFF;
    stroke: #272525;
    stroke-miterlimit: 10;
}

.st76 {
    fill: #A7A7A7;
    stroke: #272525;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st77 {
    opacity: 0.94;
}

.st78 {
    opacity: 0.59;
}

.st79 {
    opacity: 0.68;
}

.st80 {
    fill: #626262;
}

.st81 {
    opacity: 0.53;
}

.st82 {
    fill: #62BEB4;
}

.st83 {
    fill: none;
    stroke: #E1BE8D;
    stroke-miterlimit: 10;
}

.st84 {
    fill: #7FF4E3;
}

.st85 {
    fill: none;
    stroke: #000000;
    stroke-miterlimit: 10;
}

.st86 {
    fill: #FF6A48;
}

.st87 {
    fill: #2DAD34;
}

.st88 {
    fill: #CC2E1D;
}

.st89 {
    fill: #B44B33;
}

.st90 {
    fill: #FFA197;
}

.st91 {
    fill: #B6FFF3;
}

.st92 {
    fill: #FF7761;
}

.st93 {
    fill: #FF8571;
}

.st94 {
    fill: #254641;
}

.st95 {
    fill: #6DD1C2;
}

.st96 {
    fill: #498B81;
}

.st97 {
    fill: #76E3D3;
}

.st98 {
    fill: #D95A3D;
}

.st99 {
    fill: #993C2C;
}

.st100 {
    fill: #1D1D1B;
}

.st101 {
    fill: #2E5751;
}

.st102 {
    fill: #1C3430;
}

.st103 {
    fill: #3AD83E;
}

.st104 {
    fill: #E1BE8D;
}

.st105 {
    display: none;
    fill: #A7A7A7;
    stroke: #272525;
    stroke-miterlimit: 10;
}

.st106 {
    fill: #FCFBED;
}

.st107 {
    fill: #AC85E5;
    stroke: #1D1D1B;
    stroke-miterlimit: 10;
}

.st108 {
    fill: #C09DA7;
}

.st109 {
    fill: #83A1A8;
}

.st110 {
    fill: #F4D0DC;
}

.st111 {
    fill: #E092C4;
}

.st112 {
    fill: #F2E0A8;
}

.st113 {
    fill: #B5DFDF;
}

.st114 {
    fill: #69C9AD;
    stroke: #1D1D1B;
    stroke-miterlimit: 10;
}

.st115 {
    fill: #98C685;
}

.st116 {
    fill: #D3BDF4;
    stroke: #1D1D1B;
    stroke-miterlimit: 10;
}

.st117 {
    fill: #EFD17D;
}

.st118 {
    fill: #EF8A3F;
}

.st119 {
    fill: #7FE5CA;
}

.st120 {
    fill: #C176DD;
}

.st121 {
    fill: #6ABECC;
}

.st122 {
    fill: #DB33B3;
}

.st123 {
    fill: #AA2782;
}

.st124 {
    fill: #45A8AD;
}

.st125 {
    fill: #FCF0F4;
}

.st126 {
    fill: #D67E36;
}

.st127 {
    fill: #E34112;
}

.st128 {
    fill: #E2D67A;
}

.st129 {
    fill: #A73ADB;
}

.st130 {
    fill: #ED1476;
}

.st131 {
    fill: #EA5EA4;
}

.st132 {
    fill: #4F4B4B;
}

.st133 {
    fill: #5AEDBA;
}

.st134 {
    fill: #F4E4BD;
    stroke: #E1BE8D;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st135 {
    fill: none;
    stroke: #E1BE8D;
    stroke-width: 1.5;
    stroke-miterlimit: 10;
}

.st136 {
    fill: none;
    stroke: #000000;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st137 {
    fill: #EFE0BF;
    stroke: #000000;
    stroke-miterlimit: 10;
}

.st138 {
    fill: none;
    stroke: #000000;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st139 {
    fill: #3C5941;
    stroke: #000000;
    stroke-miterlimit: 10;
}

.st140 {
    fill: #9B9391;
}

.st141 {
    fill: #12682E;
    stroke: #000000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st142 {
    fill: #77564D;
}

.st143 {
    fill: #D1C6B0;
}

.st144 {
    fill: #664C25;
}

.st145 {
    fill: #64647A;
}

.st146 {
    fill: #7A6947;
}

.st147 {
    fill: #353572;
}

.st148 {
    fill: #C6B99E;
}

.st149 {
    fill: none;
    stroke: #E0D5D1;
    stroke-miterlimit: 10;
}

.st150 {
    fill: #3C5941;
}

.st151 {
    fill: #F2F2F2;
}

.st152 {
    fill: #FFFF5A;
}

.st153 {
    fill: #606060;
}

.st154 {
    fill: none;
    stroke: #000000;
    stroke-width: 0.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st155 {
    fill: #E0CB05;
}

.st156 {
    fill: #FFFFFF;
    stroke: #000000;
    stroke-miterlimit: 10;
}

.st157 {
    fill: none;
    stroke: #FFFFFF;
    stroke-miterlimit: 10;
}

.st158 {
    fill: #FFFFFF;
    stroke: #000000;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st159 {
    fill: #875C3C;
}

.st160 {
    fill: #3D7F43;
}

.st161 {
    fill: #FFE027;
}

.st162 {
    fill: #FFF75F;
}

.st163 {
    fill: #EFA500;
}

.st164 {
    fill: none;
    stroke: #EFA500;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st165 {
    fill: none;
    stroke: #FFE027;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st166 {
    fill: none;
    stroke: #FFF75F;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st167 {
    fill: none;
    stroke: #EFA500;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st168 {
    fill: none;
    stroke: #FFE027;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st169 {
    fill: none;
    stroke: #FFF75F;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st170 {
    fill: #FFF983;
    stroke: #FFE027;
    stroke-miterlimit: 10;
}